<a href="https://colab.research.google.com/github/DianaI20/Pet_finder/blob/main/Pet_finder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  Problem description: You are a pet lover and you want to find the perfect pair of paws to walk around your house. There are so many animals in our Animal Rescue Service, but some of them have a little hard time in finding their way home.

Task:  We would like to help our pets to find a loving home, therefore we want to create a model that will be able predict the chances of a pet to be adopted. In this way we will be able to give each pet a nice loving home.

In [ ]:
# Import the necessary libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from google.colab import files
import io

In [ ]:
# read from local file 
uploaded = files.upload()

# Read CSV data using pandas 
# The data is read in a DataFrame 
trainFrame = pd.read_csv(io.BytesIO(uploaded['train.csv']))
breedLabelsFrame = pd.read_csv(io.BytesIO(uploaded['breed_labels.csv']))
colorLabelsFrame = pd.read_csv(io.BytesIO(uploaded['color_labels.csv']))
stateLabelsFrame = pd.read_csv(io.BytesIO(uploaded['state_labels.csv']))

Saving breed_labels.csv to breed_labels (19).csv
Saving color_labels.csv to color_labels (6).csv
Saving state_labels.csv to state_labels (6).csv
Saving train.csv to train (18).csv

In [ ]:
# merging the frames 
mainFrame = pd.merge(trainFrame, breedLabelsFrame,  how='left', left_on = 'Breed1', right_on = 'BreedID') 
mainFrame = pd.merge(mainFrame, breedLabelsFrame,  how='left', left_on = 'Breed2', right_on = 'BreedID') 
mainFrame = pd.merge(mainFrame, colorLabelsFrame,  how='left', left_on = 'Color1', right_on = 'ColorID') 
mainFrame = pd.merge(mainFrame, colorLabelsFrame,  how='left', left_on = 'Color2', right_on = 'ColorID') 
mainFrame = pd.merge(mainFrame, colorLabelsFrame,  how='left', left_on = 'Color3', right_on = 'ColorID') 
mainFrame = pd.merge(mainFrame, stateLabelsFrame,  how='left', left_on = 'State', right_on = 'StateID')

In [ ]:
# deleting and renaming merged columns 
del mainFrame['Type_y']
del mainFrame['Type_x']
del mainFrame['ColorID']
del mainFrame['ColorID_x']
del mainFrame['ColorID_y']
del mainFrame['BreedID_x']
del mainFrame['BreedID_y']
del mainFrame['StateID']
mainFrame.rename(columns = {'BreedName_x':'BreedName1', 'BreedName_y':'BreedName2','Type_x':'Type','ColorName_x':'ColorName1', 'ColorName_y':'ColorName2', 'ColorName':'ColorName3'}, inplace = True)

In [ ]:
# rearraging columns 
mainFrame = mainFrame[['PetID', 'Type', 'Name', 'Age', 'State','StateName', 'Breed1', 'BreedName1', 'Breed2', 'BreedName2', 'Color1', 'ColorName1', 'Color2', 'ColorName2', 'Color3', 'ColorName3','Gender','MaturitySize', 'FurLength','Vaccinated','Dewormed','Sterilized','Health','Quantity','Fee','RescuerID','VideoAmt','Description','PhotoAmt','AdoptionSpeed' ]]

In [ ]:
mainFrame

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Description,PetID,PhotoAmt,AdoptionSpeed,BreedName1,ColorName1,ColorName2,ColorName3,StateID,StateName
0,2,Nibble,3,299,0,1,1,7,0,1,...,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Tabby,Black,White,NaN,41326,Selangor
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Domestic Medium Hair,Black,Brown,NaN,41401,Kuala Lumpur
2,1,Brisco,1,307,0,1,2,7,0,2,...,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Mixed Breed,Brown,White,NaN,41326,Selangor
3,1,Miko,4,307,0,2,1,2,0,2,...,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Mixed Breed,Black,Brown,NaN,41401,Kuala Lumpur
4,1,Hunter,1,307,0,1,1,0,0,2,...,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Mixed Breed,Black,NaN,NaN,41326,Selangor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,2,NaN,2,266,0,3,1,0,0,2,...,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,Domestic Short Hair,Black,NaN,NaN,41326,Selangor
14989,2,Serato & Eddie,60,265,264,3,1,4,7,2,...,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,Domestic Medium Hair,Black,Yellow,White,41326,Selangor
14990,2,Monkies,2,265,266,3,5,6,7,3,...,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,Domestic Medium Hair,Cream,Gray,White,41326,Selangor
14991,2,Ms Daym,9,266,0,2,4,7,0,1,...,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,Domestic Short Hair,Yellow,White,NaN,41336,Johor
14992,1,Fili,1,307,307,1,2,0,0,2,...,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,Mixed Breed,Brown,NaN,NaN,41332,Negeri Sembilan

In [ ]:
mainFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14993 entries, 0 to 14992
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14993 non-null  int64
 1   Name           13736 non-null  object
 2   Age            14993 non-null  int64
 3   Breed1         14993 non-null  int64
 4   Breed2         14993 non-null  int64
 5   Gender         14993 non-null  int64
 6   Color1         14993 non-null  int64
 7   Color2         14993 non-null  int64
 8   Color3         14993 non-null  int64
 9   MaturitySize   14993 non-null  int64
 10  FurLength      14993 non-null  int64
 11  Vaccinated     14993 non-null  int64
 12  Dewormed       14993 non-null  int64
 13  Sterilized     14993 non-null  int64
 14  Health         14993 non-null  int64
 15  Quantity       14993 non-null  int64
 16  Fee            14993 non-null  int64
 17  State          14993 non-null  int64
 18  RescuerID      14993 non-null  object
 19  VideoAmt       14993 non-null  int64
 20  Description    14981 non-null  object
 21  PetID          14993 non-null  object
 22  PhotoAmt       14993 non-null  float64
 23  AdoptionSpeed  14993 non-null  int64
 24  BreedName1     14988 non-null  object
 25  ColorName1     14993 non-null  object
 26  ColorName2     10522 non-null  object
 27  ColorName3     4389 non-null   object
 28  StateID        14993 non-null  int64
 29  StateName      14993 non-null  object
dtypes: float64(1), int64(20), object(9)
memory usage: 3.5+ MB

In [ ]:

mainFrame.drop(df.index, inplace=True)